.card-items {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100vh;
}

.person-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.person {
    width: 100%;
    max-width: calc(33.33% - 20px);
    /* Define a largura máxima das colunas (3 colunas por linha) */
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    box-sizing: border-box;
    transition: transform 0.3s ease-in-out;
    position: relative;
    @media (max-width: 768px) {
        max-width: calc(100% - 20px);
    }
}

.person:hover {
    transform: scale(1.05);
    /* Efeito de escala ao passar o mouse */
}

.person-avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #f0f0f0;
    /* Aqui você pode adicionar a imagem do avatar */
}

.person-details {
    margin-top: 10px;
}

.person-name {
    font-weight: bold;
    font-size: 18px;
}

.person-info {
    margin-top: 5px;
}

.info-label {
    font-weight: bold;
    color: #666;
}

.info-value {
    color: #333;
}

.delete-button {
    background: none;
    border: none;
    cursor: pointer;
    color: #ff0000; 
    font-size: 1.5rem;
    margin-left: 10px; 
    position: absolute;
    top: 40px;
    right:40px ;
  }