.card-items {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.person-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.person {
    width: 100%;
    max-width: calc(33.33% - 20px);
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    box-sizing: border-box;
    transition: transform 0.3s ease-in-out;
    position: relative;

    @media (max-width: 768px) {
        max-width: calc(100% - 20px);
    }
}

.person:hover {
    transform: scale(1.05);
}

.person-details {
    margin-top: 10px;
}

.person-name {
    font-weight: bold;
    font-size: 18px;
}

.person-info {
    margin-top: 5px;
}

.info-label {
    font-weight: bold;
    color: #666;
}

.info-value {
    color: #333;
}

.buttons {
    border: none;
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 10px;
    display: flex;
    gap: 10px;
}

.delete-button {
    background: none;
    border: none;
    cursor: pointer;
    color: $danger-color;
    font-size: 1.2rem;

    &:hover {
        opacity: .6;
    }
}

.edit-button {
    background-color: transparent;
    color: $text-color;
    border: none;
    font-size: 1.2rem;

    &:hover {
        opacity: .6;
    }
}

.search-box {
    display: block;
    text-align: center;
    padding: 20px 0;
    margin: 40px;

    &-input {
        border: solid 1px $primary-color;
        padding: 11px;
        width: 30%;
        border-radius: 5px 0 0 5px;
        @media (max-width: 768px) {
            width: 70%;
        }
    }

    &-btn {
        width: 10%;
        border-radius: 0 5px 5px 0;
        padding: 12px;
        @media (max-width: 768px) {
            width: 30%;
        }
    }
}

.produtos-lista{
    margin-top: 40px;
}